.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  max-height: 250px;
  margin-top: 1rem;
}

.card-image {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-image img {
  max-width: 100%;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.card-description {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-tag {
  background-color: #f2f2f2;
  color: #333;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
}

.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-release {
  font-size: 0.9rem;
  color: #777;
}

.card-vote {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0077ff;
}
