.typing-effect-container {
  display: flex;
  align-items: flex-start;
  margin: 1rem auto;
  width: max-content;
}

.typing-effect-avatar {
  flex-shrink: 0;
  margin-right: 10px;
  margin-top: 2px;
}

.typing-effect-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.typing-effect-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #ffffff;
  margin-top: 22px;
  margin-left: -10px;
}

.typing-effect-message {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
  width: min(100vw, 500px);
  max-width: 90%;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.typing-effect-message::after {
  content: "";
  position: absolute;
  left: 0;
  top: 30px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  margin-top: -10px;
  margin-left: -10px;
}
